<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Change picture</title>
</head>
<body class="bg">
<header th:insert="blocks/header :: header"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-12"></div>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="form-container" style="text-align: center">
                <h2 style="text-align: center">Choose picture</h2>
                <a href="/profile/picture/0"><img th:src="${'../img/profilePics/0.png'}"></a>
                <a href="/profile/picture/1"><img th:src="${'../img/profilePics/1.png'}"></a>
                <a href="/profile/picture/2"><img th:src="${'../img/profilePics/2.png'}"></a>
                <a href="/profile/picture/3"><img th:src="${'../img/profilePics/3.png'}"></a>
                <a href="/profile/picture/4"><img th:src="${'../img/profilePics/4.png'}"></a>
                <a href="/profile/picture/5"><img th:src="${'../img/profilePics/5.png'}"></a>
                <a href="/profile/picture/6"><img th:src="${'../img/profilePics/6.png'}"></a>
                <a href="/profile/picture/7"><img th:src="${'../img/profilePics/7.png'}"></a>
                <a href="/profile/picture/8"><img th:src="${'../img/profilePics/8.png'}"></a>
                <a href="/profile/picture/9"><img th:src="${'../img/profilePics/9.png'}"></a>
                <a href="/profile/picture/10"><img th:src="${'../img/profilePics/10.png'}"></a>
                <a href="/profile/picture/11"><img th:src="${'../img/profilePics/11.png'}"></a>
                <div class="form-group" style="text-align: center">
                    <a href="/profile" class="btn btn-medium btn-secondary">Back</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12"></div>
    </div>


</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>